.btn-transparent {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 0;

  &:hover {
    color: white;
  }
}

.btn-bordered-white {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #E3E3E3;
  padding: 10px 0;
  border-radius: 0;
  width: 111px;

  &:hover {
    color: #808080;
  }
}
.btn-purple {
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 0;
  width: 171px;
  height: 51px;
  background-color: $color-purple;

  &:hover {
    color: white;
  }
}


.btn-blue{
  font-size: 12pt;
  background: #0482b7;
  color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
  border: 1px solid #0482b7;
  &:hover{
  background: #fff;
  color: #0482b7;
  border: 1px solid #0482b7;
  }
}
.title_border{
  color: $color-text;
  text-align: center;
  &:after{
    text-align: center;
    content: "";
    border: 1.5px solid #00ADAD;
    background: #00ADAD;
    width: 100%;
    max-width: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
  }
}


.custom-li{
  li{
    align-items: center;
    display: flex;
    font-size: 16px;
    line-height: 21px;
    color: #6A808B;
    &:before{
      content: "";
      background: url("../img/css_img/li.png");
      width: 14px;
      height: 12px;
      margin-right: 10px;
      display: block;
    }
  }
}

.overflow-hidden{
  overflow: hidden;
}
.d-none{
  display: none !important;
}
.shadow2{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.shadow{
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.flex-grow{
  display: flex;
  flex-grow: 1;
}


