.mobile-menu {
  width: 320px;
  background-color: rgba(25,35,48,.8);
  height: 100vh;
  position: fixed;
  top: 115px;
  right: 0;
  transition: .3s;
  margin-right: -320px;
  padding: 25px;

  @media only screen and(max-width: 320px){
    width: 100%;
  }

  .mobile-navigation-bar {

    li {

      &:not(:last-child){
        padding-bottom: 10px;
      }

      a {
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        font-size: 1.8rem;
        color: white;
        transition: .3s;

        &:hover {
          color: #FF1B4F;
        }
      }
    }
  }

  form {
    padding: 20px 0;

    input {
      height: 35px;
      border-radius: 0;
      border: none;
      font-size: 1.6rem;

      &:focus {
        outline: none;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }

  .header-contacts {

  }
}
